.description {
  padding: 20px;
}

.title > h2 {
  padding-left: 20px;
}

.cta-button-row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 771px) {
  .cta-button-row {
    margin-left: 0; /* Remove the left margin on smaller screens */
  }
}
